@font-face {
    font-family: 'Inter-SB';
    src: url(../fonts/Inter-SemiBold.ttf)format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'RM';
    src: url(../fonts/Rubik-Medium.ttf)format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'RR';
    src: url(../fonts/Rubik-Regular.ttf)format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RSB';
    src: url(../fonts/Rubik-SemiBoldItalic.ttf)format('truetype');
    font-weight: 600;
}